@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --background-color-header: #3A6073;
    --background-color-main:#16222A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
}

/* Header */

 header{
    margin-top: 0;
    width: 100%;
    display: flex;
    background:#3A6073;
    justify-content: space-between;
    align-items: center;
    max-height: 65px;
    padding: 0rem 0.5rem 0rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1
}

.navbar,.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 20%;
}

.navbar-list{
    gap: 10%;
}

.navbar-list a{
    color: white;
    cursor: pointer;
}

.navbar-list li:first-child{
    font-weight: 900;
}

.cart-icon{
    width: 50px;
    cursor: pointer;
    padding-right: 5%;
}

.logo-h{
    width: 200px;
    padding: 0.5rem;
    cursor: pointer;
}

/* Main */

main{
    background: #16222A;
    background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
    background: linear-gradient(to bottom, #3A6073, #16222A);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 400px;
}

/* Hero */

#hero{
    display: flex;
    margin-top: 65px;
    padding: 70px 0px;
    max-width: 1200px;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.hero-text h1{
    font-size: 58px;
    width: 85%;
    min-width: 500px;
    font-weight: 800;
    color: darkgray;
}

.hero-text p{
    font-size: 20px;
    width: 75%;
    color: white;

}

.hero-text a{
    color: white;
    font-size: 25px;
    background-color: #16222A;
    border: solid 3px aqua;
    width: 120px;
    padding: 8px 0px;
    border-radius: 0.5rem;
    text-align: center;
}

.hero-card{
    width: 40%;
    display: flex;
    justify-content: center;
}

.Y-hero{
    width: 100%;
    border-radius: 1rem;
}

.titles{
    display: flex;
    flex-direction: column;
}

.products{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 40px;
}

.perfumes-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.perfumes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.le-beau{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.le-beau:hover{
    transform: scale(1.1)
}

.le-beau p{
    font-size: 25px;
    font-weight: 600;
}

.le-beau a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.le-beau img{
    width: 70%;
    border-radius: 0.5rem;
}

.azzaro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 65%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.azzaro:hover{
    transform: scale(1.1)
}

.azzaro p{
    font-size: 25px;
    font-weight: 600;
}

.azzaro a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.azzaro img{
    width: 70%;
    border-radius: 0.5rem;
}

.spicebomb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.spicebomb:hover{
    transform: scale(1.1)
}

.spicebomb p{
    font-size: 25px;
    font-weight: 600;
}

.spicebomb a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.spicebomb img{
    width: 75%;
    border-radius: 0.5rem;
}

.perfumes-2{display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.ch:hover{
    transform: scale(1.1)
}

.ch p{
    font-size: 25px;
    font-weight: 600;
}

.ch a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.ch img{
    width: 75%;
    border-radius: 0.5rem;
}

.y-edp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.y-edp:hover{
    transform: scale(1.1) 
}

.y-edp p{
    font-size: 25px;
    font-weight: 600;
}

.y-edp a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;   
}

.y-edp img{
    width: 75%;
    border-radius: 0.5rem;    
}

.hugo-boss{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;    
}

.hugo-boss:hover{
    transform: scale(1.1)
}

.hugo-boss p{
    font-size: 25px;
    font-weight: 600;    
}

.hugo-boss a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;    
}

.hugo-boss img{
    width: 75%;
    border-radius: 0.5rem; 
}

