@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --background-color-header: #3A6073;
    --background-color-main:#16222A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: transform 0.6s;
}

/* Header */

 header{
    margin-top: 0;
    width: 100%;
    display: flex;
    background:#3A6073;
    justify-content: space-between;
    align-items: center;
    max-height: 65px;
    padding: 0rem 0.5rem 0rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1
}

.navbar,.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 20%;
}

.navbar-list{
    gap: 10%;
}

.navbar-list a{
    color: white;
    cursor: pointer;
}

.navbar-list li:first-child{
    font-weight: 900;
}

.cart-icon{
    width: 50px;
    cursor: pointer;
    padding-right: 5%;
}

.logo-h{
    width: 200px;
    padding: 0.5rem;
    cursor: pointer;
}

/* Main */

main{
    background: #16222A;
    background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
    background: linear-gradient(to bottom, #3A6073, #16222A);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 400px;
}

/* Hero */

#hero{
    display: flex;
    margin-top: 65px;
    padding: 70px 0px;
    max-width: 1200px;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.hero-text h1{
    font-size: 80px;
    width: 85%;
    min-width: 500px;
    font-weight: 800;
    color: white;
}

.hero-text p{
    font-size: 25px;
    width: 75%;
    color: white;

}

.hero-text a{
    color: white;
    font-size: 25px;
    background-color: #16222A;
    border: solid 3px aqua;
    width: 120px;
    padding: 8px 0px;
    border-radius: 0.5rem;
    text-align: center;
}

.hero-card{
    width: 40%;
    display: flex;
    justify-content: center;
}

.Y-hero{
    width: 100%;
    border-radius: 1rem;
}

.titles{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

#products{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 40px;
}

.perfumes-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.perfumes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.le-beau{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.le-beau:hover{
    transform: scale(1.1)
}

.le-beau p{
    font-size: 25px;
    font-weight: 600;
}

.le-beau a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.le-beau img{
    width: 70%;
    border-radius: 0.5rem;
}

.azzaro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 65%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.azzaro:hover{
    transform: scale(1.1)
}

.azzaro p{
    font-size: 25px;
    font-weight: 600;
}

.azzaro a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.azzaro img{
    width: 70%;
    border-radius: 0.5rem;
}

.spicebomb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.spicebomb:hover{
    transform: scale(1.1)
}

.spicebomb p{
    font-size: 25px;
    font-weight: 600;
}

.spicebomb a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.spicebomb img{
    width: 75%;
    border-radius: 0.5rem;
}

.perfumes-2{display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

.ch:hover{
    transform: scale(1.1)
}

.ch p{
    font-size: 25px;
    font-weight: 600;
}

.ch a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.ch img{
    width: 75%;
    border-radius: 0.5rem;
}

#y-edp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;
}

#y-edp:hover{
    transform: scale(1.1) 
}

#y-edp p{
    font-size: 25px;
    font-weight: 600;
}

#y-edp a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;   
}

#y-edp img{
    width: 75%;
    border-radius: 0.5rem;    
}

.hugo-boss{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    width: 25%;
    height: 60%;
    padding: 20px;
    gap: 15px;
    background-color: #16222A;
    transition: transform 0.6s;
    cursor: pointer;    
}

.hugo-boss:hover{
    transform: scale(1.1)
}

.hugo-boss p{
    font-size: 25px;
    font-weight: 600;    
}

.hugo-boss a{
    border: 3px solid aqua;
    background-color: #16222A;
    color: white;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0.5rem;    
}

.hugo-boss img{
    width: 75%;
    border-radius: 0.5rem; 
}

#about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 100px;
    max-width: 80%;
}

#about-us h2{
    font-size: 45px;
}

.about-us-text{
    font-size: 25px;
    text-align: center;
    background-color: #16222A;
    padding: 15px;
    border: 3px solid aqua;
    border-radius: 0.5rem;
}

/* Inicio de parte de "inicia de sesion/registrate" */

#iniciosesion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: #16222A;
    background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
    background: linear-gradient(to bottom, #3A6073, #16222A);
}

.logo-inicio-sesion{
    display: flex;
    justify-content: center;
    top: 0;
}

.formulario{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background:#16222A;
    border: solid 3px aqua;
    border-radius: 0.5rem;
    color: white;
}

.formulario h1{
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
}

#email{
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
}

#password{
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 20px;
}

.registrarse{
    text-align: center;
}

.sign-in{
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    background: #16222A;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    padding: 5px 0px 25px 35px;
    color: white;
}

#registro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: #16222A;
    background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
    background: linear-gradient(to bottom, #3A6073, #16222A);
}

.sign-up{
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    background: #16222A;
    border: 3px solid aqua;
    border-radius: 0.5rem;
    padding: 5px 0px 25px 35px;
    color: white;
}

/* Inicio de codigo de parte "contactanos" */

#contactanos-section{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
}

.contacto-title{
    display: flex;
    text-align: center;
    font-size: 40px;
}


.redes{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;
}

.instagram img{
    width: 25%;
}

.instagram p{
    font-size: 20px;
}

.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;
}    

.whatsapp img{
    width: 25%;
}

.whatsapp p{
    font-size: 20px;
}


.localizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;
}

.localizacion img{
    width: 25%;
}

.localizacion p{
    font-size: 20px;
}

.horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;
}

.horarios img{
    width: 25%;
}

.horarios p{
    font-size: 20px;
}

footer{
    display: flex;
    text-align: center;
}

footer p{
    font-size: 25px;
}